.App {
  text-align: center;
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.radio_gap {
  gap: 15px;
}
.sidebar {
  transition: 0.4s;
  width: 20%;
  height: 700px;
  color: #fff;
  background-color: #063547;
}
.user_si {
  background-color: #2a007c !important;
}
.user_details img {
  width: 182px;
  height: 182px;
  border-radius: 53%;
  border: 6px solid #fff;
}
.dash_menu ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}
.dash_menu ul li {
  border-bottom: 1px solid #fff;
  padding: 10px 40px;
  display: flex;
  gap: 15px;
  align-items: center;
}
.dash_menu ul li a {
  text-decoration: none;
  transition: 0.4s;
  color: #fff;
  text-transform: uppercase;
}
.dash_menu ul li a:hover {
  color: #44b89d;
}
.dash_content {
  transition: 0.4s;
  width: 80%;
  padding: 20px;
}
.breadcamb {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
  padding: 7px 20px;
}
/* bk Table */
.table-container {
  overflow-x: auto;
}
.bk_table table,
.top_book table {
  width: 100%;
  border: 1px solid rgb(231, 231, 231);
  border-collapse: collapse;
  padding: 10px;
}
tr,
td,
th {
  border: 1px solid rgb(231, 231, 231);
  padding: 8px 0px;
}
.td_gap {
  gap: 10px;
  padding: 32px 0px !important;
  justify-content: center;
}

.dash_heading {
  justify-content: space-between;
  padding: 30px 0px;
}
.dash_heading h2 {
  margin: 0;
}
.add_new_btn {
  background: #063547;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  border: none;
  padding: 11px 17px;
  border-radius: 5px;
  transition: 0.4s;
}
.add_new_btn:hover {
  background-color: #44b89d;
}
.breadcamb {
  text-align: left;
}
/* drawyer */
.dwayer {
  display: flex;
  justify-content: flex-end;
  padding: 13px;
}
.dwayer svg {
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}
.sidebar_short .dwayer {
  justify-content: center;
}
.sidebar_short {
  transition: 0.4s;
  background: #063547;
  width: 6%;
  height: 600px;
}
.dash_content_large {
  transition: 0.4s;
  width: 94%;
  padding: 20px;
}
.sidebar_short .user_details img {
  width: 60px;
  height: 60px;
  border: none;
}
.sidebar_short .user_details p {
  display: none;
}
.drawyer_dash_menu ul {
  list-style-type: none;
  padding: 0;
  color: #fff;
}
.drawyer_dash_menu ul li {
  padding: 12px 0px;
}
.drawyer_dash_menu ul li span a {
  color: #fff;
  transition: 0.4s;
  font-size: 27px;
}
.drawyer_dash_menu ul li span a:hover {
  color: #44b89d;
}
.drawyer_dash_menu ul li span:nth-child(2) {
  display: none;
}
.center-align {
  text-align: center;
  vertical-align: middle;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* dash board btn*/
.add_item {
  padding: 13px 12px;
  background: #063547;
  color: #fff;
  outline: none;
  border: none;
  width: 125px;
  border-radius: 7px;
  transition: 0.4s;
}
.add_item:hover {
  background-color: #44b89d;
}
.add_book_form {
  text-align: left;
}
.add_book_form input[type="text"] {
  border-radius: 5px;
}
.bk_col_1 {
  width: 65%;
}
.bk_col_2 {
  width: 25%;
  margin-left: 23px;
}
.bk_cover_image {
  height: 162px;
  width: 219px;
  border: 2px dashed #e8e5e5;
  margin-bottom: 10px;
}
.bk_cover_image img {
  width: 100%;
  height: 157px;
  border-radius: 15px;
}
.edit_btn,
.delete_btn,
.view_btn {
  cursor: pointer;
  color: #44b89d;
  transition: 0.4s;
}
.delete_btn {
  color: tomato;
}
.view_btn {
  color: #2b2be2;
}
.edit_btn:hover,
.delete_btn:hover,
.view_btn:hover {
  color: #063547;
}

li.active span a,
li.active span {
  color: #44b89d;
}

/* dahsboard page */
.dash_card_wr,
.visiter_insight,
.dash_inner {
  justify-content: space-between;
}
.dash_card_wr,
.visiter_insight {
  margin-bottom: 30px;
}
.right_menu {
  gap: 30px;
  align-items: center;
  padding: 20px 0px;
}
.right_menu span img {
  height: 31px;
  width: 35px;
  border-radius: 5px;
}
.dash_card {
  width: 22%;
  margin: 8px;
  height: 100px;
  padding: 23px 0px;
  color: #fff;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.dash_header {
  background: black;
  color: #fff;
}
.dash_card:nth-child(even) {
  background-color: #39389e;
}
.dash_card:nth-child(odd) {
  background-color: #ad121a;
}
.chart-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* single book for Dashboard */
.single_bk_tag {
  gap: 32px;
  padding: 10px 0px;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}
.sgbk {
  gap: 15px;
}
.single_bk_image {
  padding: 20px 0;
}
.single_bk_image img {
  height: 200px;
}
.bk_discription p {
  text-align: left;
}
/* single product */
.single_product_section {
  padding: 60px 0px;
}
.items_images {
  width: 30%;
}
.items_images img {
  height: 350px;
}
.items_details {
  width: 70%;
  text-align: left;
}
.ratings {
  margin-bottom: 10px;
  display: flex;
  gap: 8px;
}
.add_quantity {
  gap: 35px;
  padding: 20px 0px;
  align-items: center;
}
.add_quantity input[type="text"],
.quntity_btn {
  width: 35px;
  border-radius: 2px;
  padding: 3px;
  text-align: center;
  border: 1px solid #cacaca;
  background: #fff;
}
.cart_btn {
  background: #fff;
  border: 1px solid gray;
  padding: 6px 20px;
  transition: 0.4s;
}
.cart_btn:hover {
  background-color: black;
  color: #fff;
  border: 1px solid #000;
}

/* stepper */
.cart_section {
  padding: 50px 0px;
}
.cart_content {
  padding: 30px 0px;
}
.steppers {
  justify-content: center;
  gap: 40px;
}
.steppers .step {
  cursor: pointer;
  align-items: center;
}
.step span.step_num {
  margin-right: 8px;
  background-color: #44b89d;
  height: 30px;
  width: 30px;
  display: inline-block;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.step span.step_text {
  font-size: 20px;
  text-transform: uppercase;
}
.step.d-flex.active {
  color: #44b89d;
}
.shopping_cart ,.customer_address {
  padding: 45px 0px;
  justify-content: space-between;
}
.product_details,.customer_information {
  width: 62%;
}
.checkout_total,.orders {
  width: 30%;
}
.checkout_total h5 {
  padding: 10px;
  text-align: left;
  border: 1px solid #e0dddd;
  margin: 0;
  border-bottom: 0;
}
.shop_table {
  border: 1px solid #dedada !important;
  table-layout: fixed;
}
.shop_table td{
  vertical-align: middle;
}
.tfoot{
  padding: 10px 20px;
  text-align: left;
  width: 300px;
}
.tfoot a{
  margin-bottom: 5px;
  display: block
}
.qt{
  padding: 30px 0px !important;
  border-bottom: 0 !important;
}
/* billig form section */
.customer_information{
  text-align: left;
}
.billig_row{
  justify-content: space-between;
}
.customer_information input[type="text"],select{
  border-radius: 5px;
  padding: 12px 20px;
  background: #fff;
  border: 1px solid #d2d2d2;
}
.accordian{
  border: 1px solid #cbcbcb; 
}
.accor{
  padding: 10px 20px;
  gap:15px;
}
.coupone_field{
  padding: 20px 0px;
}
.coupone_field p{
  cursor: pointer;
}
.panels{
  background: #cbeed3;
  padding: 10px 20px;

}
